*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    font-family: Poppins;
}
.container{
    width: 900px;
    margin: auto;
    max-width: 90vw;
    text-align: center;
    padding-top: 10px;
    transition: transform 0.5s;
}

.shopping_cart{
    width: 50px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}
.icon-cart{
    position: relative;
}
.icon-cart span{
    position: absolute;
    background-color: red;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    top: 50%;
    right: -20px;
}
.title{
   font-size: 30px;
}
.listProduct .item img{
    width: 160px;
    height: 200px;
}

.listProduct{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.listProduct .item{
    height: 300px;
    border: 1px solid red;
    padding-top: 20px;
    border-radius: 20px;
}
.listProduct .item h2{
    font-weight: 500;
    font-size: large;
}
.listProduct .item .price{
    letter-spacing: 7px;
    font-size: small;
}
.listProduct .item button{
    background-color: black;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 20px;
}


.cartTab{
    width: 400px;
    background-color: dimgrey;
    color:white;
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: 0.5s;
}
body.showCart .cartTab{
    right: 0;
}
body.showCart .container{
    transform: translateX(-250px);
}
.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cartTab button{
    background-color: darkgoldenrod;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
}
.cartTab .close{
    background-color: white;
}
.listCart .item img{
    width: 100%;
}
.listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
    color: black;
    cursor: pointer;
}
.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color:white;
    cursor: auto;
}
.listCart .item:nth-child(even){
    background-color: #eee1;
}





.notice{
    position: absolute;
    top: 25px;
    right: 30px;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px 25px 20px 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-left: 6px solid red;
    transition: all 0.5s ease;
    transform: translateX(calc(100% + 40px));
  overflow: hidden;
}
